.button{
    outline:none;
    border:none;
    text-transform: upperCase;
    color: #ffffff;
    height:45px;
    border-radius:25px;
    font-size:12px;
    font-weight: 500;
    cursor:pointer;
    transition: box-shadow .7s ease-out;
    &__small{
        width:160px;
        letter-spacing: 1px;
    }
    &__middle{
        width:180px;
    }
    &__large{
        width:230px;
        height:57px;
        font-weight:700;
        font-size:15px;
    }
    &__orange{
        background: $mainOrange;
    }
    &:hover{
        box-shadow: -2px 3px 27px -6px rgba(255,255,255,.4);
        transition: all .7s ease-out;
        color:$black;
    }
}