.feed{
    min-height: 470px;
    padding:50px 20px 0 20px;
    &__slider{
        display:flex;
        overflow: hidden;
        align-items: center;
        margin-top:30px;
        position: relative;
        &__item{
            display:flex;
            flex-direction: column;
            justify-content: column;
            justify-content: space-between;
            align-items: center;
            width:615px;
            img {
                width: 114px;
                height: 114px;
            }
        }
        &__text{
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            color: $black;
            text-align: center;
            margin-top: 10px;
        }
        &__name{
            font-size: 18px;
            font-weight: 700;
            color: $black;
            text-align: center;
            margin-top: 19px;
        }
    }
}
.slick-prev,.slick-next{
    border: none;
    background: none;
    outline: none;
    position: absolute;
    top: 12%;
    z-index: 5;
    cursor: pointer;
}
.slick-prev{
    left: 43%;
}
.slick-next{
    right: 43%;
}
.slick-slide {
    opacity: 0.3;
    transform: scale(0.7);
    outline: none;
}
.slick-center {
    opacity: 1;
    transform: scale(1);
}

.slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
}