.ourwork {
    min-height: 520px;
    padding: 51px 0 57px 0;
    hr {
        width: 148px;
        height: 1px;
        border: none;
        margin-top: 20px;
        margin-bottom: 17px;
        background-color: $mainOrange;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 37px;
    }
    &__item {
        text-align: center;
        line-height: 22px;
        width: 360px;
        &__title {
            margin-top: 28px;
            font-size: 18px;
            font-weight: 700;
            color: $mainOrange;
        }
        &__text {
            font-size: 14px;
            font-weight: 300;
            color: $black;
            margin-top: 5px;
        }
    }
}